@charset "utf-8";

.top-bar-section ul li > a {
    text-transform: none !important;
}

.top-bar-section ul li > a.nav-home-item {
  font-family: $font-family-serif;
  font-weight: bold;
  padding: 0;
  color: #222222;
  text-rendering: optimizeLegibility;
  font-size: 1.1875rem;
  color: #fff !important;
  background: #9e0000 !important;
  &:hover {
    background: #7e0000 !important;
  }
}

// #navigation > nav > section > ul > li.active > a.nav-home-item {
//   background: #cc0000 !important;
// }

// @media screen and (max-width: 63.9375em) {
//   .top-bar-section ul li > a.nav-home-item {
//     font-weight: normal;
//     font-size: 100%;
//   }
// }