//Redefine Colors
$ci-1: #0d689c;		// links & buttons
$ci-2: #ffee90;		// menu bg
$ci-3: #EFC94C;		// yellow
$ci-4: #E27A3F;		// orange
$ci-5: #9e0000;		// some buttons
$ci-6: #fff7c7;   // footer text & menu highlight
//Redefine Colors