// Large Navigation
.top-bar-section ul li > a {
    text-transform: none !important;
}

#navigation > nav > section > ul > li > a.nav-home-item {
  font-family: $font-family-serif;
  font-weight: bold;
  color: #222222;
  text-rendering: optimizeLegibility;
  font-size: 1.1875rem;
  color: #fff;
  background: #9e0000;
  &:hover {
    background: #7e0000;
  }
}
//End Large Navigation


// Nav Hamburger
.top-bar.expanded .toggle-topbar a span::after {
  box-shadow: 0 0 0 1px $grey-12, 0 7px 0 1px $grey-12, 0 14px 0 1px $grey-12;
}

.top-bar.expanded .toggle-topbar a {
  color: $grey-12;
}

#navigation > nav > section > ul > li > ul > li.title.back.js-generated > h5 > a {
  background-color: $grey-4;
}

.top-bar-section ul li {
  background: $grey-1;
}

.top-bar-section ul li.active > a {
  background: $grey-3;
}
// End Nav Hamburger


// „“ Blockquotes
blockquote:before {
  content:"\201E";
}

blockquote:after {
  content:"\201C";
}
// End „“ Blockquotes
